{% extends "Ailead_app/base.html" %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static "css/materialize.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/style.css" %}">

<div class="hed" style="">
  <div class="container" style="background-color:purple;">

    <div class="innerpage_banner img-fluid" style="background-image: url({% static 'images/D13.png' %}); padding-top:70px;">
       <div class="container">
        <div class="row">
         <div class="col-md-12">
          <h2>Contact us</h2>
       </div>
      </div>
     </div>
    </div>
      <div  class="row">
          <div  class="col l12">
              <h1>Contact form</h1>
              <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
              <button class="btn waves-effect waves-light btn-warning" type="submit">Send Email</button>
              </form>

              {% for message in messages %}
      				 <p id="messages">{{message}}</p>
      				{% endfor %}
          </div>
      </div>
  </div>
</div>

{% include 'Ailead_app/footer.html' %}
{% endblock %}
