
{% extends 'Ailead_app/base.html' %}
{%  load static %}
{% block content %}
<div class="container-fluid pl-0 pr-0 bg-img clearfix parallax-window2" data-parallax="scroll" data-image-src="{% static "images/D7.jpg" %}">
  <div class="container">
      <div class="fh5co-banner-text-box">
        <div class="quote-box pl-5 pr-5 wow bounceInRight">
          <h2> WELCOME TO  <br><span>AILEADTECH</span> </h2>
        </div>
        <a href="{% url 'Ailead_app:whatsnew' %}" class="btn text-uppercase btn-warning btn-lg mr-3 mb-3 wow bounceInUp"> What's new</a> <a href="{% url 'Ailead_app:courses' %}" class="btn text-uppercase btn-warning btn-lg mb-3 wow bounceInDown"> Courses</a> </div>
    </div>
  </div>
  <div class="container-fluid fh5co-network">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="wow bounceInUp">OUR GOAL</h4>
          <h2 class="wow bounceInRight">AND AIM</h2>
          <hr />
          <h5 class="wow bounceInLeft">AILEAD</h5>
          <p class="wow bounceInDown" id="RED">We seek to train students, graduates and professionals interested in the field and sub-field of Artificial Intelligence, enhancing the creation of jobs and opportunities in Africa through AI.</p>
        </div>
        <div class="col-md-6">
          <figure class="wow bounceInDown"> <img src="{% static "images/D8.jpg" %}" alt="gym" class="img-fluid" /> </figure>
        </div>
      </div>
    </div>
  </div>
  <div id="about-us" class="container-fluid fh5co-about-us pl-0 pr-0 parallax-window" data-parallax="scroll" data-image-src="{% static "images/D10.jpg" %}">
    <div class="container">
      <div class="col-sm-6 offset-sm-6">
        <h2 class="wow bounceInLeft" data-wow-delay=".25s">ABOUT US</h2>
        <hr/>
        <p class="wow bounceInRight" data-wow-delay=".25s">We develop artificial intelligence solutions to businesses in various sectors, and also provide trainings to both individual and corporate bodies in the field and sub-field of artificial intelligence.</p>
        <a class="btn btn-lg btn-warning d-inline-block text-center mx-auto wow bounceInDown" href="about.html">Learn More</a> </div>
    </div>
  </div>
  <div class="container-fluid fh5co-content-box">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pr-0"><img src="{% static "images/D11.jpg" %}" alt="gym" class="img-fluid wow bounceInLeft" /> </div>
        <div class="col-md-7 pl-0">
          <div class="wow bounceInRight" data-wow-delay=".25s">
            <div class="card-img-overlay">
              <p>a process or set of rules to be followed in calculations or other problem-solving operations, especially by a computer.
  "a basic algorithm for division" </p>
            </div>
            <img src="{% static "images/D12.jpg" %}" alt="girls in gym" class="img-fluid" /> </div>
        </div>
      </div>
      <div class="row trainers pl-0 pr-0">
        <div class="col-12 bg-50">
          <div class="quote-box2 wow bounceInDown" data-wow-delay=".25s">
            <h2>THE TEAM </h2>
          </div>
        </div>
        <div class="col-md-6 pr-5 pl-5">
          <div class="card text-center wow bounceInLeft" data-wow-delay=".25s"> <img class="card-img-top rounded-circle img-fluid" src="{% static "images/ken.jpg" %}" alt="Card image">
            <div class="card-body mb-5">
              <h4 class="card-title">Kehinde P. Ajayi <br>CEO </h4>
              <p class="card-text">Artificial Intelligence (AI) is no longer just the domain of sci-fi fans or tech nerds, as it’s becoming a key pillar of how we do business and live our future lives. While we still need time to see how far this prodigious technology will go, AI has always been a subject of interest to some of the brightest minds and well-known personalities. Here are some of their thoughts on AI.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5 pr-5">
          <div class="card text-center wow bounceInRight" data-wow-delay=".25s"> <img class="card-img-top rounded-circle img-fluid" src="{% static "images/dami.jpg" %}" alt="Card image">
            <div class="card-body mb-5">
              <h4 class="card-title">Damilola Adebambi <br> Business Manager </h4>
              <p class="card-text">AI is only as good as the humans programming it and the system in which it operates. If we are not careful, AI could not make healthcare better, but instead unintentionally exacerbate many of the worst aspects of our current healthcare system</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row gallery">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body mb-4 wow bounceInLeft" data-wow-delay=".25s">
              <h4 class="card-title">DATA SCIENCE</h4>
              <p class="card-text">Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from many structural and unstructured data. Data science is related to data mining, deep learning and big data. </p>
            </div>
            <img class="card-img-top img-fluid wow bounceInRight" data-wow-delay=".25s" src="{% static "images/D18.jpg" %}" alt="Card image"> </div>
        </div>
        <div class="col-md-4">
          <div class="card"> <img class="card-img-top img-fluid wow bounceInUp" data-wow-delay=".25s" src="{% static "images/D19.jpg" %}" alt="Card image">
            <div class="card-body mt-4 wow bounceInDown" data-wow-delay=".25s">
              <h4 class="card-title">NATURAL LANGAUGE PROCESSING</h4>
               <p class="card-text">Natural Language Processing, usually shortened as NLP, is a branch of artificial intelligence that deals with the interaction between computers and humans using the natural language. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body mb-4 wow bounceInRight" data-wow-delay=".25s">
              <h4 class="card-title">COMPUTER VISION</h4>
              <p class="card-text">Computer vision is a field of artificial intelligence that trains computers to interpret and understand the visual world. Using digital images from cameras and videos and deep learning models, machines can accurately identify and classify objects — and then react to what they “see.” </p>
            </div>
            <img class="card-img-top img-fluid wow bounceInLeft" data-wow-delay=".25s" src="{% static "images/D20.jpg" %}" alt="Card image"> </div>
        </div>
      </div>
    </div>
  </div>
   {% include 'Ailead_app/footer.html' %}
{% endblock content %}
